





.modal {

    .modal-dialog {
        
        .modal-content {

            .modal-header {

            }

            .modal-body {

                .h3-log-title {
                    color: blue;
                    font-weight: 300;
                    font-size: 2.25em;
                    margin: 0.5em 0;
                }
            }
        }
    }
}