<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta property="og:locale"      content="en_US">
<meta property="og:type"        content="website">
<meta property="og:title"       content="Welcome -{{ appName }}">
<meta property="og:description" content="Learning That Makes A Difference At Warner Academy, we cater to your learning needs.  Learning should be fun and exciting not complicated and frustrating. With our experience highly experienced staff you can Learn at your own pace, Prepare for IT certification exams, Obtain hand-on skills needed for specific IT careers, Request tutoring for K-12 and">
<meta property="og:url"         content="https://warneracademy.com">
<meta property="og:site_name"   content="Warner Academy">


<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="Learning That Makes A Difference At Warner Academy, we cater to your learning needs.  Learning should be fun and exciting not complicated and frustrating. With our experience highly experienced staff you can Learn at your own pace, Prepare for IT certification exams, Obtain hand-on skills needed for specific IT careers, Request tutoring for K-12 and […]">
<meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">


<title>{{ appName}}</title>

<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>
{#<link rel="stylesheet" href="/assets/styles/styles.css">#}





