
<!-- Modal -->
<div class="modal fade" id="mdLogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <h3 class="h3-log-title text-center mb-5">Existing Users Login</h3>
                        
                        {% include('frmLogin.twig') %}
                    </div>
                    <div class="col">
                        Register
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>